MONGODB_URI = <your-mongodb-uri>
PORT = 5001
JWT_SECRET = <your-jwt-secret>

CLOUDINARY_CLOUD_NAME = <your-cloudinary-cloud-name>
CLOUDINARY_API_KEY = <your-cloudinary-api-key>
CLOUDINARY_API_SECRET = <your-cloudinary-api-secret>
NODE_ENV = development